[alias]
co = checkout
ci = commit
st = status
br = branch
hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[user]
name = Max Peng
email = pengisgood@gmail.com

[credential]
helper = osxkeychain
